<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/checker.js"> </script>
    <script src="/socket.io/socket.io.js"></script>
    <title>Ls editor</title>

</head>

<body>

    <input type="text" class="color-picker color-picker-input" data-coloris value="#ff0000" id="leis-color"> 
    <div id="main"></div>
    <script src="/js/bundle.js"></script>
    <link rel="stylesheet" href="/css/customCss.css">
    <script src="/js/ls-api.js"></script>
</body>

</html>